<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @company.title %>
</p>

<p>
  <strong>Initial date:</strong>
  <%= @company.initial_date %>
</p>

<p>
  <strong>Staff quantity:</strong>
  <%= @company.staff_quantity %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
